# Raw format SD card image configuration for am62x-h200

image release/bootloader.itb {
	fit {
		its = "release/bootloader.its"
	}

	partition tispl {
		image = "tispl.bin_unsigned"
	}

	partition uboot {
		image = "u-boot.img_unsigned"
	}
}

image release/kernel.itb {
	fit {
		its = "release/kernel.its"
	}

	partition kernel {
		image = "Image.gz"
	}

	partition fdt {
		image = "${FW_DTB_FILE}"
	}
}

image release/rootfs.itb {
	fit {
		its = "release/rootfs.its"
	}

	partition rootfs {
		image = "rootfs.squashfs"
	}
}
