# Raw format SD card image configuration for am62x-h200

image release/boot.itb {
	fit {
		its = "release/boot.its"
	}

	partition tiboot3 {
		image = "tiboot3.bin"
	}

	partition tispl {
		image = "tispl.bin_unsigned"
	}

	partition uboot {
		image = "u-boot.img_unsigned"
	}
}

image release/kernel.itb {
	fit {
		its = "release/kernel.its"
	}

	partition kernel {
		image = "Image.gz"
	}

	partition fdt {
		image = "${FW_DTB_FILE}"
	}
}

image release/rootfs.itb {
	fit {
		its = "release/rootfs.its"
	}

	partition rootfs {
		image = "rootfs.squashfs"
	}
}

image sdcard.img {
	hdimage {
		partition-table-type = "none"
	}

	partition tiboot3 {
		image = "tiboot3.bin"
		offset = 0
		size = 1M
	}

	partition tispl {
		image = "tispl.bin_unsigned"
		offset = 1M
		size = 2M
	}

	partition uboot {
		image = "u-boot.img_unsigned"
		offset = 3M
		size = 2M
	}

	partition uboot-env {
		image = "/dev/null"
		offset = 5M
		size = 2M
	}

	partition kernel {
		image = "Image.gz"
		offset = 7M
		size = 23M
	}

	partition dtb {
		image = "${FW_DTB_FILE}"
		offset = 30M
		size = 1M
	}

	partition rootfs {
		image = "rootfs.squashfs"
		offset = 31M
	}
}