# AM62x SD factory image using the fixed RAW A/B layout.

image sdcard.img {
	hdimage {
		partition-table-type = "none"
		fill = true
	}

	partition tiboot3_a {
		image = "tiboot3.bin"
		offset = 0
		size = 1M
	}

	partition tispl_a {
		image = "tispl.bin_unsigned"
		offset = 1M
		size = 2M
	}

	partition uboot_a {
		image = "u-boot.img_unsigned"
		offset = 3M
		size = 2M
	}

	partition meta0 {
		image = "/dev/null"
		offset = 5M
		size = 64K
	}

	partition meta1 {
		image = "/dev/null"
		offset = 5184K
		size = 64K
	}

	partition tiboot3_b {
		image = "tiboot3.bin"
		offset = 7M
		size = 1M
	}

	partition tispl_b {
		image = "tispl.bin_unsigned"
		offset = 8M
		size = 2M
	}

	partition uboot_b {
		image = "u-boot.img_unsigned"
		offset = 10M
		size = 2M
	}

	partition kernel_a {
		image = "release/kernel.itb"
		offset = 16M
		size = 24M
	}

	partition kernel_b {
		image = "release/kernel.itb"
		offset = 40M
		size = 24M
	}

	partition rootfs_a {
		image = "rootfs.squashfs"
		offset = 64M
		size = 128M
	}

	partition rootfs_b {
		image = "rootfs.squashfs"
		offset = 192M
		size = 128M
	}
}
